$border-color: #dddddd;
$btn-clear: #fc8f96;
$main-color: #1eabe0;

.report-form-container {
    max-width: 1440px;
    margin: 0 auto;
}

.report-form-title-container {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.report-form-icon {
    height: 1.6em;
    width: 1.7em;
    fill: #45bde6;
}

.report-form-title {
    margin: 30px 0 30px 10px;
    font-size: 1.3em;
}

.report-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 25px;
    padding: 0 25px;
    border: 1px solid $border-color;
    border-radius: 5px;
}

.report-form__btn-clear {
    margin: 12.5px auto;
    color: $btn-clear;
    font-weight: bold;
    font-size: .9em;
    border: none;
    background-color: inherit;

    @media (min-width: 768px) {
        margin: 12.5px 0;
        width: 17%;
    }

    @media (min-width: 1024px) {
        width: 12%;
    }
}

.report-form__trash-icon {
    fill: $btn-clear;
    height: 1em;
    width: 1em;
    margin-right: 10px;
}

.report-form__btn-get-report {
    margin: 12.5px auto;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: $main-color;
    color: white;
    font-size: .9em;
    font-weight: bold;

    @media (min-width: 768px) {
        margin: 12.5px 0;
        width: 17%;
    }

    @media (min-width: 1024px) {
        width: 15%;
    }
}
