$border-color: #dddddd;

.header {
    display: flex;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid $border-color;
    box-shadow: 0 0 5px 0 $border-color;
}

.logo {
    margin-left: 25px;

    @media (min-width: 1440px) {
        margin-left: calc( ( 100% - 1440px ) / 2 + 25px);
    }
 }