$border-color: #dddddd;

.select-label {
    display: block;
    width: 100%;
    margin: 12.5px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9em;

    @media (min-width: 768px) {
        width: 20%;
        margin-top: 30px;
        margin-bottom: 30px;    
    }

}

.select-input {
    display: block;
    height: 35px;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $border-color;
    background-color: initial;
    font-weight: bold;
    font-size: 1em;
    color: #b9bfc7;

    &:focus {
        outline: none;
        border-bottom: 1px solid #39b3e2;
    }
}