$border-color: #dddddd;

.report-history-container {
    max-width: 1440px;
    margin: 0 auto;
}

.report-history-title-container {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.report-history-title-icon {
    height: 1.6em;
    width: 1.7em;
    fill: #45bde6;
}

.report-history-title {
    margin: 30px 0 30px 10px;
    font-size: 1.3em;
}

.report-history-icon {
    height: 25px;
    width: 25px;
}

.report-history-table {
    font-size: .8em;
    width: calc(100% - 50px);
    margin: 0 25px;
    border-collapse: collapse;
    text-align: left;

    @media (min-width: 678px) {
        font-size: 1em;
    }
}

.report-history-table__row {
    border-bottom: 1px solid $border-color;
}

.report-status {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 678px) {
        justify-content: flex-start;
    }
}

.report-history__btn {
    border: none;
    background-color: inherit;
}

.report-history-table__item {
    height: 60px;
}

.report-history-table__item__date {
    padding: 0 6px;
    font-size: .75em;

    @media (min-width: 678px) {
        font-size: inherit;
    }
}

.report-history-table__status {
    display: none;

    @media (min-width: 678px) {
        display: initial;
    }
}

.report-history-table__item--center {
    text-align: center;
}

.report-history-icon--color-success {
    fill: #8de073;
}

.report-history-icon--color-red {
    fill: #f66062;
}

.report-history-icon--color-download {
    fill: #29b4de;
}