$main-color: #1eabe0;

.snackbar {
    position: fixed;
    bottom: -2.1em;
    visibility: hidden;
    left: 10%;
    right: 10%;
    height: 2em;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
    font-size: 1.2em;
    color: white;
    background-color: $main-color;
}

.snackbar--fade {
    visibility: visible;
    animation: fade 0.3s forwards, fade 0.3s 3s reverse forwards;
}

@keyframes fade {
    from { 
        opacity: 0;
        bottom: -2.1em;
    } to {
        opacity: 1;
        bottom: .6em;
    }
}